*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: darkgray;
}

#controls {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
	color: white;
}
