@font-face {
	font-family: "OST";
	src: url("/fonts/OpenSauceTwoVF.woff2") format("woff2");
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-family: "OST";
}

body {
	background-color: darkgray;
}

#controls {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
	color: white;
}

:fullscreen #controls {
	display: none;
}
